<div id="posts">
  <%  @posts.each do |post| %>
  <div id="post_index_title">
	  <%= link_to(post.title, post) %><br />
	</div>
	<div id="post_index_description">
	  <%= trunc(post.description, 350) %>
	  <%= link_to 'Далее', post %>
  </div>
  <% if owner?(post) %>
    <div class="action">
      <%= link_to "Редактировать", edit_post_path(post) %>
      <%= link_to "Удалить", post, :method => :delete, :confirm => "Вы уверены?" %>
    </div>
  <% end %>
  <% end %>
  <div id="pagination">
		<%= paginate @posts %>
  </div>
</div>
