<div id="all_comments">
	<div class="comments">
		<p>Комментарии (<%= @post.comments.count %>):</p><br />
	</div>
	<%  @post.comments.each do |c| %>
	<div class="every_comment">
		<div class="comments_email">
			<div class="smallavatar">
  		  <%= image_tag c.user.avatar.url(:thumb) %>
  		  <%= c.user.email %>:
  		</div>
  		
		</div>
		<div class="comment_text">
			<%= c.comment_text %><br />
		</div>
		<hr />
		<div class="created_at">
			Написано <%= c.created_at.to_date %>
		</div>
	</div>
	<% end %>
</div>