<%= form_for @post do |f| %>
  <%= errors_for_object(@post) %>
  <div class="field">
  	<%= f.label :title, 'Заголовок:' %>
  	<%= f.text_field :title %>
  </div>
  <div class="field">
	  <%= f.label :description, 'Описание:' %>
	  <%= f.text_area :description %>    
  </div>
  <div class="button">
	  <%= f.submit @post.button_value %>    
  </div>
<% end %>