<div class="show_post_l">
	<%= link_to "Просмотр всех постов", posts_path %><br />
	<%= link_to("Посты категории "+@post.category.name, category_path(@post.category)) %>	
</div>
<div id="post_show">
  <div id="post_show_title">
    <%= @post.title %><br/>
  </div>
  <div id="post_show_description">
    <%= raw(@post.description) %>
  </div>  
</div>
<%= render :partial => "shared/comments" %><br /><br />
<%= render :partial => "shared/comment_form" %>

