<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1>Блог</h1>
  </div>
  <div id="maincontent">
    <div id="sidebar">
      <% if current_user %>
        <!-- user info -->
        <div id="userinfo">
          <h4>Ваш профиль:</h4>
          <div class="user-actions">
            <p class="email">
              <%= current_user.email %>
            </p>
            <p class="submit">
              <%= link_to "Выйти", log_out_path %>
            </p>
          </div>
        </div>
        <!-- end user info -->
      <% else %>
        <div id="sign">
          <p><%= link_to "Регистрация", sign_up_path %></p>
          <p><%= link_to "Войти", log_in_path %></p>
        </div>
      <% end %>
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Посты</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
    <div id="content">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <p>&copy; Our blog</p>
  </div>
</div>
</body>
</html>
