<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1>Блог</h1>
  </div>
  <div id="maincontent">
    <div id="sidebar">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Посты</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
    <div id="content">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <p>&copy; Our blog</p>
  </div>
</div>
</body>
</html>
